<li class="onefilm-card">
    <img class="onefilm-cover" src="{{poster_path}}" alt="film-cover" />
    <div class="onefilm-info-wrapper">
        <h3 class="onefilm-name">{{original_title}}</h3>
        <div class="onefilm__rating">
            <div class="rating__titles">
                <p class="rating__title">Vota / Votes</p>
                <p class="rating__title">Popularity</p>
                <p class="rating__title">Original Title</p>
                <p class="rating__title">Genre</p>
            </div>
            <div class="rating__values">
                <p class="rating__value">
                    <span class="film-rating onefilm-rating">{{vote_average}}</span> / {{vote_count}}
                </p>
                <p class="rating__value">{{popularity}}</p>
                <p class="rating__value">{{original_title}}</p>

                <p class="rating__value">{{#each genres}}{{this.name}} {{/each}}</p>
            </div>
        </div>
        <div class="onefilm__about">
            <h4>About</h4>
            <p>{{overview}}</p>
        </div>
        <div class="buttons__block" data-id="{{id}}">
            <button class="onefilm__btn add_watched">Add to watched</button>
            <button class="onefilm__btn add_queue">Add to queue</button>
        </div>
    </div>
</li>